/.bundle
/config/database.yml
/config/environments/*.local.yml
/config/initializers/secret_token.rb
/config/settings.local.yml
/config/settings/*.local.yml
/log/*
!/log/.keep
/public/system
/routes.txt
/tmp
/vendor/bundle
.DS_Store
