<%= content_tag(:tr, class: dom_class(contact)) do %>
  <td><%= link_to(contact_name(contact, false), contact) %></td>
  <td>Organisation A Contact</td>
  <td>
    <%= link_to('Edit', [ :edit, contact ]) %>
    &nbsp;
    <%= link_to('Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }) %>
  </td>
<% end %>
