<h2 class="page_heading">About the project</h2>
<p>Welcome to my starter project!</p>
<ul>
  <li><%= link_to('Search companies', companies_path) %></li>
  <li><%= link_to('Search contacts', contacts_path) %></li>
</ul>