<tr>
  <td><%= link_to(contact_name(contact, false), contact) %></td>
  <td><%= contact.title %></td>
  <td>
    <%= link_to('Edit', edit_contact_path(contact)) %>
    &nbsp;
    <%= link_to('Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }) %>
  </td>
</tr>
