<tr>
  <td><%= link_to(contact_name(contact), contact_path(contact)) %></td>
  <td>Contact</td>
  <td>
    <%= link_to('Edit', edit_contact_path(contact)) %>
    &nbsp;
    <%= link_to('Destroy', contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }) %>
  </td>
</tr>
