<%= content_tag(:tr, class: dom_class(company)) do %>
  <td><%= link_to(company.name, company) %></td>
  <td>Company</td>
  <td>
    <%= link_to('Edit', edit_company_path(company)) %>
    &nbsp;
    <%= link_to('Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }) %>
  </td>
<% end %>
